**/lib
**/node_modules
**/style
**/package.json
**/tsconfig.json
**/*.d.ts

.github
assets
binder
jupyterlab_blockly
docs
examples
node_modules
patches
scripts
.eslintignore
.eslintrc.js
.gitignore
.pre-commit-config.yaml
.prettierignore
.prettierrc
CHANGELOG.md
install.json
lerna.json
LICENSE
MANIFEST.in
package.json
pyproject.toml
README.md
RELEASE.md
setup.py
tsconfig.eslint.json
tsconfig.json
yarn.lock
