**/node_modules
**/lib
**/package.json
**/patches
dist
coverage
**/*.d.ts
tests

.github
binder
jupyterlab_blockly/labextension
docs
examples
.eslintignore
.eslintrc.js
.gitignore
.pre-commit-config.yaml
.prettierignore
.prettierrc
CHANGELOG.md
install.json
LICENSE
MANIFEST.in
pyproject.toml
README.md
RELEASE.md
tsconfig.json
yarn.lock
