.jp-blockly-button:hover {
  background-color: transparent !important;
}

.jp-blockly-runButton {
  background-color: var(--md-green-500);
}

.jp-blockly-runButton:hover {
  background-color: var(--md-green-700);
}

.jp-blockly-codeCell {
  overflow: scroll;
}
